This is in the main div.

Should be 'eggs': translation is {{ _('test:baz:qux:spam') }}

Should be 'foos': translation is {{ _n('test:foo', 2) }}
Should be 'bares': translation is {{ _n('test:bar', 2) }}

