<!doctype html>
<html>
    <head>
    </head>
    <body contenteditable="true">
        <div class="main">
            {% include '_partial.html.jinja' %}    
            {{ template_variable }}
            {{ 1000.251|num }}
            {{ 'space and underscore_separated'|dasherize }}
            {{ 0.1234|percentage }}
        </div><!-- .main -->
    </body>
</html>

